<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>회계체인</h1>
        <P>accountant chain</p>
      </div>
    </div>
  </body>
</html>